#loading{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 15px solid #f3f3f3;
    border-top: 15px solid goldenrod;
    animation: rotation  2s linear infinite ;
}
@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
   
    
}